<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
<% @jobs.each do |f| %>
    <p><%= f.description %></p>
      <p><%= f.origin %></p>
    <p><%= f.destination %></p>
      <p><%= f.cost %></p>
    <p><%= f.containers %></p>
<% end %>
