<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<p><%= @job.description %></p>
<p><%= @job.origin %></p>
<p><%= @job.destination %></p>
<p><%= @job.cost %></p>
<p><%= @job.containers %></p>
<p><%= @job.ships.last.name%></p>
