<!DOCTYPE html>
<html>
  <head>
    <title>Shipping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <nav>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", user_jobs_path(current_user.id) %></li>
          <li><%= link_to "Build Ship", new_user_ship_path(current_user.id) %></li>
          <li><%= link_to "New Job", new_user_job_path(current_user.id) %></li>
        </ul>
      <% end %>
    </nav>


  <body>
    <img src="/assets/boat.png"/>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

    <%= yield %>
  </body>
</html>
